<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="{{STATIC}}/tachyonic.ui/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="{{STATIC}}/tachyonic.ui/bootstrap/css/signin.css" />
    <link rel="stylesheet" href="{{STATIC}}/tachyonic.ui/jquery-ui/jquery-ui.min.css" />

    <link rel="stylesheet" href="{{SITE}}/css" />
    <link rel="stylesheet" href="{{STATIC}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC}}/tachyonic.ui/DataTables/datatables.min.css"/>
    <script src="{{STATIC}}/tachyonic.ui/jquery-3.1.1.js"></script>
    <script src="{{STATIC}}/tachyonic.ui/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{STATIC}}/tachyonic.ui/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{STATIC}}/tachyonic.ui/DataTables/datatables.min.js"></script>
    <script src="{{STATIC}}/tachyonic.ui/tachyonic.js"></script>
    <link href="{{STATIC}}/tachyonic.ui/select2/css/select2.min.css" rel="stylesheet" />
    <script src="{{STATIC}}/tachyonic.ui/select2/js/select2.min.js"></script>
    <link rel="icon" href="{{STATIC}}/tachyonic.ui/images/tachyon-sm.png">
{{ HTML_ASSETS }}
    <title>{{TITLE}}</title>
</head>
<body>
{% if LOGIN %}
<script>
    var login = true;
</script>
{% else %}
<script>
    var login = false;
</script>
{% endif %}
<script>
/**
  * Run Polling function
  */
$( document ).ready(function() {
    poll('{{SITE}}')                                                                                                                                    
});
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-wrapper menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left pull-left"><img src="{{STATIC}}/tachyonic.ui/images/tachyon-sm.png"></a>
                <a class="navbar-brand" href="#">{{ NAME }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div id="topmenu">
                <ul class="nav navbar-nav navbar-left">
                    {% if MENU %}
                        {{ MENU }}
                    {% endif %}
                </ul>
                </div>
                {% if LOGIN %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="menu-icon">
                            <img src="{{STATIC}}/tachyonic.ui/images/dude.png" data-toggle="dropdown">
                            <ul class="dropdown-menu"><li class="nav-link"><a href="{{SITE}}/logout">Logout</a></li></ul>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% if LOGIN %}
<div class="top-bar">
    <div class="container">
        <div class="pull-left tenant-bar-box">
            <form class="form-inline" disabled onsubmit='return false;'>
                <div class="form-group" style="width:100%">
                    <input id='open_tenant' class="form-control" readonly style="width: 100%" placeholder="Current Open Tenant">
                </div>
            </form>
        </div>
        <div class="pull-right search-bar-box">
            <form class="form-inline pull-left" method="post" action="{{ SITE }}/">
                <div class="form-group">
                    <select class="form-control" name="domain" onchange="this.form.submit()">
                        {% for d in DOMAINS %}
                            <option value='{{ d }}'>{{ d }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form id="searchForm" class="form-inline pull-right" method="post" action="{{ SITE }}/search" onsubmit="link(this); return false;" data-url="{{SITE}}/search" data-name="Search Tenants">
                <div class="form-group">
                    {{ SEARCH }}
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="push_top"></div>
{% endif %}
<div class="loading" id="loading"></div>
<div class="locked" id="locked"></div>
<div class="confirm" id="confirm">
    <div class="modal-header">
        <button class="close" type="button" onclick="document.getElementById('confirm').style.display = 'none';">x</button>
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body" id="confirmation">
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" onclick="document.getElementById('confirm').style.display = 'none';">Cancel</button>
		<button id='continue' class="btn btn-danger">Continue</button>
    </div>
</div>
<div class="auto-logout" id="logout">
    <div class="modal-header">
        <h4 class="modal-title">Inactivity Logoff</h4>
    </div>
    <div class="modal-body">
        Your session is about to expire in <b><span id='timer'></span></b> seconds<BR>
        Do you want to continue?
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" onclick="document.getElementById('logout').style.display = 'none'; idleTime=0;">Continue</button>
        <a class="btn btn-danger" href="{{SITE}}/logout">Logout</a>
    </div>
</div>
<div class="window" id="window">
    <div class="modal-header">
        <button class="close" type="button" onclick='close_window()'>x</button>
        <h4 class="modal-title" id='window_title'>Title</h4>
    </div>
    <div class="modal-body" id="window_content">
        Content
    </div>
    <div class="push_bottom"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% if LOGIN %}
            <div class="block menu_accounts">
                <div class="block_title">
                    Tenant Account
                </div>
                <div class="block_content">
                    <ul class="nav nav-pills nav-stacked">
                    {% if MENU_ACCOUNTS %}
                    {{ MENU_ACCOUNTS }}
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="block menu_services">
                <div class="block_title">
                    Services
                </div>
                <div class="block_content">
                    <ul class="nav nav-pills nav-stacked">
                    {% if MENU_SERVICES %}
                    {{ MENU_SERVICES }}
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="block">
                <div class="block_title">
                    Login
                </div>
                <div class="block_content">
                    <span class='title'>Username:</span>
                    <div class="box">
                        {{ USERNAME }}
                    </div>
                    <span class='title'>Email:</span>
                    <div class="box">
                        {{ EMAIL }}
                    </div>
                    <a href="{{ SITE }}/logout" type="submit" class="btn btn-danger">Logout</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <div class="block">
                <div class="block_title" id="title">{{TITLE}}</div>
                <div class="block_content" id="service">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup"></div>
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
    </div>
<div class="push_bottom"></div>

<footer>
</footer>

{% include 'tachyonic.ui/error.html' %}

</body>
</html>
