{% if save_url %}
    <form id='tview' enctype='multipart/form-data' method="post" novalidate role="form" data-url="{{ save_url }}" data-name="{{ title }}" data-save="true">
        <input type="hidden" name="save" value="True">
        {{ content }}
        {% if form_extra %}
            <div style="width:100%;clear:both;"></div>
            {{ form_extra }}
        {% endif %}
    </form>
    <div style="width:100%;clear:both;"></div>
    {% if extra %}
        {{ extra }}
    {% endif %}
    <div style="width:100%;clear:both;"></div>
{% elif created_url %}
    <form id='tview' enctype='multipart/form-data' method="post" novalidate role="form" data-url="{{ created_url }}" data-name="{{ title }}">
        {{ content }}
        {% if form_extra %}
            <div style="width:100%;clear:both;"></div>
            {{ form_extra }}
        {% endif %}
    </form>
    <div style="width:100%;clear:both;"></div>
    {% if extra %}
        {{ extra }}
    {% endif %}
    <div style="width:100%;clear:both;"></div>
{% elif view_form %}
    <form id='tview' enctype='multipart/form-data' method="post" novalidate role="form" disabled onsubmit='return false;'>
        {{ content }}
        {% if form_extra %}
            <div style="width:100%;clear:both;"></div>
            {{ form_extra }}
        {% endif %}
    </form>
    <div style="width:100%;clear:both;"></div>
    {% if extra %}
        {{ extra }}
    <div style="width:100%;clear:both;"></div>
    {% endif %}
{% else %}
    {{ content }}
    <div style="width:100%;clear:both;"></div>
    {% if form_extra %}
        <div style="width:100%;clear:both;"></div>
        {{ form_extra }}
    {% endif %}
    <div style="width:100%;clear:both;"></div>
    {% if extra %}
        {{ extra }}
    {% endif %}
    <div style="width:100%;clear:both;"></div>
{% endif %}

{% if create_url %}
    <button class="btn btn-primary" data-url="{{ create_url }}" data-name="{{ title }}">Create</button>
{% endif %}
{% if save_url %}
    <input type="submit" class="btn btn-primary" value="Save" onclick="link(getElementById('tview'));">
{% endif %}
{% if created_url %}
    <input type="submit" class="btn btn-primary" value="Create" onclick="link(getElementById('tview'));">
{% endif %}
{% if edit_url %}
    <button class="btn btn-warning" data-url="{{ edit_url }}" data-name="{{ title }}">Edit</button>
{% endif %}
{% if delete_url %}
    <button class="btn btn-danger" data-url="{{ delete_url }}" data-name="{{ title }}" data-confirm="{{ confirm }}">Delete</button>
{% endif %}
{% if cancel_url %}
    <button class="btn btn-default" data-url="{{ cancel_url }}" data-name="{{ title }}">Cancel</button>
{% endif %}
{% if back_url %}
    <button class="btn btn-default" data-url="{{ back_url }}" data-name="{{ title }}">Back</button>
{% endif %}
    <button id="window_close" class="btn btn-default" style="display: none;" onclick="close_window()">Close</button>

    <script>
        $( document ).ready(function() {   
            var display = document.getElementById('window').style.display;
            if (display == 'block') {
                document.getElementById('window_close').style.display = 'inline';
            }
            {% if title %}
            title("{{ title }}");
            {% endif %}
        });
    </script>

{% include 'tachyonic.ui/error.html' %}

